@model List<Ecom_AIUB.Models.Cart>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <section id="content" class="container" style="max-width: 1120px; padding: 0 3rem; min-height:70vh;">
        <div class="my-5">
            <h5 class="mb-4">Yourt Cart</h5>
            <table class="table">
                <thead style="background-color: rgb(237, 81, 25);" class="text-white">
                    <tr class="rounded-top">
                        <th scope="col">#</th>
                        <th scope="col">Product</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int count = 1;
                        decimal total = 0;
                    }
                    @foreach (var item in Model)
                    {
                        <tr class="p-3">
                            <th scope="row">@count</th>
                            <td><span>@item.Product.Name</span></td>
                            <td class="d-flex gap-3">
                                <svg class="increase text-success" onclick="increase(@item.Id)" height="25px" width="25px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M4 3H20C20.5523 3 21 3.44772 21 4V20C21 20.5523 20.5523 21 20 21H4C3.44772 21 3 20.5523 3 20V4C3 3.44772 3.44772 3 4 3ZM5 5V19H19V5H5ZM11 11V7H13V11H17V13H13V17H11V13H7V11H11Z"></path></svg>
                                <span class="pb-2">@item.Quantity</span>
                                <svg class="decrease text-danger" onclick="decrease(@item.Id)" height="25px" width="25px" xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M448 256c0-106-86-192-192-192S64 150 64 256s86 192 192 192 192-86 192-192z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32" /><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M336 256H176" /></svg>
                            </td>
                            <td><span>$@item.Price</span></td>
                            <td>
                                <svg onclick="remove(@item.Id)" class="text-danger" height="25px" width="25px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M4 8H20V21C20 21.5523 19.5523 22 19 22H5C4.44772 22 4 21.5523 4 21V8ZM7 5V3C7 2.44772 7.44772 2 8 2H16C16.5523 2 17 2.44772 17 3V5H22V7H2V5H7ZM9 4V5H15V4H9ZM9 12V18H11V12H9ZM13 12V18H15V12H13Z"></path></svg>
                            </td>
                        </tr>
                        total += @item.Price;
                        count++;
                    }
                </tbody>
                
            </table>

            <div class="mt-5 row row-cols-1 row-cols-md-2">
                @{
                    decimal subtotal = (total + (total / 100 * 2));
                    decimal vat = subtotal - total;
                    decimal charge = 8.00M;
                    decimal grandTotal = total + vat + charge;
                }
                <div class="col">
                    <h4 class="mb-3">Address Information</h4>
                    <form asp-action="Checkout" asp-controller="Cart" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="address">
                                Shipping address:
                            </label>
                            <input class="form-control" type="text" id="address" name="Address" value="" />
                        </div>

                        <div class="mb-3">
                            <label for="postCode">
                                Post Code
                            </label>
                            <input class="form-control" type="text" id="postCode" name="PostCode" value="" />
                        </div>
                        <div class="mb-3">
                            <label for="city">
                                City
                            </label>
                            <select class="form-select" name="City" id="city">
                                <option value="">Select a city</option>
                                <option value="Dhaka">Dhaka</option>
                                <option value="Chattogram">Chattogram</option>
                                <option value="Khulna">Khulna</option>
                                <option value="Rajshahi">Rajshahi</option>
                                <option value="Sylhet">Sylhet</option>
                                <option value="Barisal">Barisal</option>
                                <option value="Rangpur">Rangpur</option>
                                <option value="Comilla">Comilla</option>
                                <option value="Gazipur">Gazipur</option>
                                <option value="Narayanganj">Narayanganj</option>
                                <option value="Mymensingh">Mymensingh</option>
                                <option value="Jessore">Jessore</option>
                                <option value="Cox's Bazar">Cox's Bazar</option>
                                <option value="Bogra">Bogra</option>
                                <option value="Dinajpur">Dinajpur</option>
                                <option value="Saidpur">Saidpur</option>
                                <option value="Pabna">Pabna</option>
                                <option value="Patuakhali">Patuakhali</option>
                                <option value="Narsingdi">Narsingdi</option>
                                <option value="Tongi">Tongi</option>
                                <option value="Faridpur">Faridpur</option>
                                <option value="Feni">Feni</option>
                                <option value="Kushtia">Kushtia</option>
                                <option value="Madaripur">Madaripur</option>
                                <option value="Tangail">Tangail</option>
                                <option value="Brahmanbaria">Brahmanbaria</option>
                                <option value="Jamalpur">Jamalpur</option>
                                <option value="Nawabganj">Nawabganj</option>
                                <option value="Lakshmipur">Lakshmipur</option>
                                <option value="Pirojpur">Pirojpur</option>
                                <option value="Shariatpur">Shariatpur</option>
                                <option value="Gopalganj">Gopalganj</option>
                                <option value="Narail">Narail</option>
                                <option value="Jhalokathi">Jhalokathi</option>
                                <option value="Bhola">Bhola</option>
                                <option value="Sherpur">Sherpur</option>
                                <option value="Meherpur">Meherpur</option>
                                <option value="Lalmonirhat">Lalmonirhat</option>
                                <option value="Nilphamari">Nilphamari</option>
                                <option value="Kurigram">Kurigram</option>
                                <option value="Gaibandha">Gaibandha</option>
                                <option value="Thakurgaon">Thakurgaon</option>
                                <option value="Satkhira">Satkhira</option>
                                <option value="Bagerhat">Bagerhat</option>
                                <option value="Chuadanga">Chuadanga</option>
                                <option value="Magura">Magura</option>
                                <option value="Jhenaidah">Jhenaidah</option>
                                <option value="Barguna">Barguna</option>
                                <option value="Habiganj">Habiganj</option>
                                <option value="Maulvi Bazar">Maulvi Bazar</option>
                                <option value="Sunamganj">Sunamganj</option>
                                <option value="Netrokona">Netrokona</option>
                            </select>

                        </div>
                        <button class="px-2 py-1 rounded text-white border-0" style="background-color: rgb(237, 81, 25);">Proceed to Payment</button>
                    </form>
                </div>
                <div class="col">
                    <h4 class="mb-3">Order Information</h4>
                    <table class="table">
                        <tr>
                            <th scope="col">Total Price</th>
                            <td scope="col">$@total</td>
                        </tr>
                        <tr>
                            <th scope="col">Vat</th>
                            <td scope="col">$@vat</td>
                        </tr>
                        <tr>
                            <th scope="col">Delivery Charge</th>
                            <td scope="col">$@charge</td>
                        </tr>
                        <tr>
                            <th scope="col">Grand Total</th>
                            <td scope="col"><strong>$@grandTotal</strong></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
</main>
<script>
    function increase(id) {
        fetch(`/cart/increase/${id}`, {
            method: 'GET'
        })
            .then(response => response.json())
            .then(data => {
                refresh()
                console.log("increase", id);
            })
            .catch(error => Toast);
    }

    function decrease(id) {
        fetch(`/cart/decrease/${id}`, {
            method: 'GET'
        })
            .then(response => response.json())
            .then(data => {
                refresh()
                console.log("decrease", id);
            })
            .catch(error => Toast);
    }

    function remove(id) {
        fetch(`/cart/remove/${id}`, {
            method: 'GET'
        })
            .then(response => response.json())
            .then(data => {
                refresh()
                console.log("remove", id);
            })
            .catch(error => Toast);
    }

    function refresh(){
        $('#content').load(location.href + " #content")
    }

    let Toast = document.createElement('div');
    Toast.innerHTML = `
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
          <div id="liveToast" class="toast text-danger" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-body">
              Something went wrong.
            </div>
          </div>
        </div>
    `
</script>
